<% provide(:title, @team.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= @team.name %> page
      </h3>
      <% if @user == current_user %>
        <ol><%= link_to "add member", new_user_project_team_role_path(@user.id,@project.id,@team.id) %></ol>
      <% end %>
      <%if @team.roles.any?%>
        <%=render @roles%>
      <%end%>
    </section>
  </aside>
  <table id="backlog">
    <tr>
      <td id ="sprint">
        <h4>sprint</h4>
      </td>
      <td>
        <h4>requirement</h4>
      </td>
    </tr>
    <%@project.sprints.each do |s|%>
      <tr>
        <th>
          begin <%= s.begin_date %>
          <br>end <%= s.end_date %>
        </th>
        <td>
          <%s.tasks.each do |t|%>
            <% if t.team_id == @team.id %>
              <%=t.requirement.description%>
              <hr>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
