<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>

  <div class="col-md-8">
    <%if @user == current_user%>
      <ol class ="projects"><h3><%= link_to "New Project", new_user_project_path(@user.id) %></h3></ol>
    <% if @projects.any? %>
      <h3>Projects (<%=@user.projects.count%>)</h3>
      <ol class="projects">
        <%=render @projects%>
      </ol>
    <% end %>
    <%= will_paginate @projects%>

    <% if @projects_contributed.any? %>
      <h3>Contributing to Projects (<%=@projects_contributed.count%>)</h3>
      <ol class="projects">
        <%=render @projects_contributed%>
      </ol>
    <%end%>
    <%= will_paginate @projects_contributed%>

      <%end%>
  </div>

</div>
