<% provide(:title, 'edit project') %>
<h1>Edit your project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@user, @project]) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.text_area :description, placeholder: "write your project's description here" %>
      <%= f.submit "Create project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
